DATABASE_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

PUBLIC_KEY=your_public_key
PRIVATE_KEY=your_private_key
SECRET_KEY=your_secret_key

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=images
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

SERVER=http://localhost:3000